<!DOCTYPE html>
<html ng-app>
    <head>
        <title>Angular + Bootstrap</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
        rel="stylesheet">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script>

          var TaskEditCtrl = (function () {
            var modalTask = {},
                index,
                error = {};
            function TaskEditCtrl($scope) {
              $scope.task = modalTask;
              $scope.save = function () {
                var task = angular.copy($scope.task) || {};
                // validation
                $scope.error = error;
                if (!task.title) {
                  $scope.error.title = {};
                  $scope.error.title.required = true;
                }
                if (Object.keys($scope.error).length > 0) {
                  return;
                }
                // apply to collections
                if (index === undefined) {
                  $scope.tasks.push(task);
                } else {
                  $scope.tasks[index] = task;
                }
                // destruct
                $('#taskEdit').modal('hide');
                delete $scope.task.title;
                delete $scope.task.completed;
                // 追加した結果が見えないことがないようにフィルタをクリア
                $scope.query.title = '';
              };
            };
            TaskEditCtrl.open = function (editIndex, values) {
              index = editIndex;
              values = values || {};
              modalTask.title = values.title;
              modalTask.completed = values.completed;
              error = {};
              var dialog = $('#taskEdit');
              dialog.modal();
              dialog.find('input:first').focus();
            };
            return TaskEditCtrl;
          }());

          var TaskCtrl = function ($scope) {
            $scope.toggleCompleted = function () {
              $scope.task.completed = !$scope.task.completed;
            };
            $scope.edit = function () {
              var index = $scope.tasks.indexOf($scope.task);
              TaskEditCtrl.open(index, $scope.tasks[index]);
            };
            $scope.remove = function () {
              var tasks = $scope.tasks,
                  i = tasks.indexOf($scope.task);
              tasks.splice(i, 1);
            };
          };

          var MainCtrl = function ($scope) {
            $scope.tasks = [];
            // for (var i = 0; i < 100; i++) {
            //   $scope.tasks.push({
            //     title: 'task' + (i + 1)
            //   });
            // }
            $scope.newTask = function (id) {
              delete TaskEditCtrl.editIndex;
              TaskEditCtrl.open();
            };
          };

        </script>
        <style>
          #task_list {
            margin-left: 0;
          }
        </style>
    </head>
    <body ng-controller="MainCtrl">

      <div class="container">
        <div class="span6">
          <div class="navbar">
            <div class="navbar-inner">
              <a href="#" class="brand">Task List</a>
              <form class="navbar-search ">
                <input type="text" placeholder="Search" class="search-query" ng-model="query.title">
                <a href=""><i class="icon-search">&nbsp;</i></a>
              </form>

            </div>
          </div>

          <table id="task_list" class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Completed</th>
                <th>
                  <a href="" class="btn" ng-click="newTask('taskEdit')" data-toggle="modal">New</a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="task in tasks|filter:query.title" ng-controller="TaskCtrl">
                <td>{{$index + 1}}</td>
                <td>{{task.title}}</td>
                <td>
                  <label>
                    <input type="checkbox" ng-model="task.completed">
                    <span ng-show="task.completed" >completed</span>
                    <span ng-hide="task.completed" >not completed</span>
                  </label>
                </td>
                <td>
                  <div class="btn-group">
                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                      Action
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="" ng-click="toggleCompleted()">toggle</a></li>
                      <li><a href="" ng-click="edit()">edit</a></li>
                      <li class="divider"></li>
                      <li><a href="" ng-click="remove()">delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr ng-show="(tasks|filter:query.title).length == 0">
                <td colspan="4">
                  <span ng-show="tasks.length == 0">タスクはありません</span>
                  <span ng-show="tasks.length != 0 && (tasks|filter:query.title).length == 0">該当するタスクはありません</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div id="taskEdit" ng-controller="TaskEditCtrl" class="modal hide">
        <div class="modal-header">
          <a href="" class="close" data-dismiss="modal">&times;</a>
          <h3>Task Edit</h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" novalidate name="taskEditForm" ng-submit="save();">
            
            <div class="control-group">
              <label for="task_edit_title" class="control-label">title</label>
              &nbsp;
              <input type="text" id="task_edit_title" ng-model="task.title" name="title">
              <span ng-show="error.title.required" class="help-inline">
                <span class="text-error">
                  タイトルを入力してください
                </span>
              </span>
            </div>

            <div class="control-group">
              <label for="task_edit_completed"  class="control-label">completed</label>
              &nbsp;
              <input type="checkbox" id="task_edit_completed" ng-model="task.completed">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="" class="btn" ng-click="save();">OK</a>
        </div>
      </div>
      
    </body>
</html>
